body{
  background-image: url("img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

*{
  font-family: 'Source Sans Pro', sans-serif;
  box-sizing: border-box;
}

.container{
  width: 60%;
  background-color: rgb(26,26,26,0.7);
  margin: auto;
  margin-top: 15px;
  border-radius: 15px;
  padding: 5%;
}

header > img{
  width: 230px;
}

header > span{
  color: rgb(57, 230, 0);
  font-size: 25px;
  display: block;
}

header{
  text-align: center;
}

.nome-monopattino > span{
  font-size: 20px;
  font-weight: bold;
}

.scelta-monopattino{
    margin-top: 10px;
}

nav{
  text-align: center;
  background-color: rgb(57, 230, 0);
  padding: 8px;
}

.gino, .mike, .fede{
  height: 25px;
  border-radius: 4px;
}

.gino{
  width: 260px;
  background-color: rgb(255, 191, 0);
}

.mike{
  width: 400px;
  background-color: rgb(0, 204, 0);
}

.fede{
  width: 130px;
  background-color: rgb(179, 0, 0);
}
